<% layout('../public/layout') %>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/multidatepicker.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/assets/css/multidatepicker.css">
<script>
  $(document).ready(function(){
    $("input[name=time]").multiDatesPicker();
  });
</script>
<div class="ui centered grid" style="padding-top:50px;">
  <div class="ten wide tablet six wide computer column">
    <h1>Create Activity</h1>
    <form class="ui form" id="activityCoverForm">
      <div class="field">
        <div class="errormsg"></div>
      </div>
      <div class="field">
        <label>Cover</label>
        <input type="file" name="cover" id="cover">
      </div>
    </form>
    <form class="ui form" id="activityForm">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div class="field">
        <label>Fee</label>
        <input type="text" name="fee" placeholder="Fee">
      </div>
      <div class="field">
        <label>Time</label>
        <input type="text" name="time" placeholder="Time">
      </div>
      <div class="field">
        <label>Type</label>
        <select class="ui fluid dropdown" name="type">
          <option value="Workshop">Workshop</option>
          <option value="Forum">Forum</option>
          <option value="Exhibition">Exhibition</option>
          <option value="Conference">Conference</option>
          <option value="Forum">Competition</option>
        </select>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea name="description" placeholder="Description"></textarea>
      </div>
      <% if(typeof group_id !== "undefined"){ %>
        <input type="hidden" name="group_id" value="<%= group_id %>">
      <% } %>
      <div class="ui button" id="activitySubmit">Create</div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function(){
    var create = 0;
    var id;
    $("#activitySubmit").on("click",function(){
      if(create==0){
        $.ajax({
          url: "/activities/create",
          type: "POST",
          data: $("#activityForm").serialize(),
          success: function(response) {
            if (!response.error) {
              id = response;
              create = 1;
              if($("#cover").val()!=""){
                var cover = $("#cover")[0].files[0];
                if(cover.type == "image/png" || cover.type == "image/jpeg"){
                  var formData = new FormData($("#activityCoverForm")[0]);
                  $.ajax({
                    url: "/activities/upload/"+id,
                    type: "POST",
                    data:formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                      if (response == "ok") {
                        toastr.success("創立成功");
                        setTimeout(function(){
                          window.location.href="/activities";
                        },3000);
                      }
                      else {
                        $("#activityCoverForm .errormsg").empty();
                        for(var i in response["error"]){
                          $("#activityCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
                        }
                      }
                    }
                  });
                }
                else{
                  alert("請上傳jpg或png");
                }
              }else{
                toastr.success("創立成功");
                setTimeout(function(){
                  window.location.href="/activities";
                },3000);
              }
            }
            else {
              $("#activityCoverForm .errormsg").empty();
              for(var i in response["error"]){
                $("#activityCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
              }
            }
          }
        });
      }else{
        var cover = $("#cover")[0].files[0];
        if(cover.type == "image/png" || cover.type == "image/jpeg"){
          var formData = new FormData($("#activityCoverForm")[0]);
          $.ajax({
            url: "/activities/upload/"+id,
            type: "POST",
            data:formData,
            contentType: false,
            processData: false,
            success: function(response) {
              if (response == "ok") {
                toastr.success("創立成功");
                setTimeout(function(){
                  window.location.href="/activities";
                },3000);
              }
              else {
                $("#activityCoverForm .errormsg").empty();
                for(var i in response["error"]){
                  $("#activityCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
                }
              }
            }
          });
        }
        else{
          alert("請上傳jpg或png");
        }
      }
    });
  });
</script>
