<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<title>C-Hub</title>
	<link rel="stylesheet" type="text/css" href="css/no_support.css">
</head>

<body>

	<div class="no_support_info">
		<p>您的瀏覽器無法支援。<br>
			為獲得最佳體驗，建議使用 Chrome 瀏覽器預覽本網。</p>
	</div>
	<div class="no_support_bg"></div>
	
</body>
</html>


