<% layout('./public/layout') %>
<form name='Pay2go' method='post' action='https://ccore.spgateway.com/MPG/mpg_gateway'>
  <input type='text' name='MerchantID' value='MS11571737'>
  <input type='text' name='Amt' value='2000'>
  <input type='text' name='CheckValue' value='<%= check %>'>
  <input type='text' name='RespondType' value='JSON'>
  <input type='text' name='ItemDesc' value='some word'>
  <input type='text' name='MerchantOrderNo' value='1212389'>
  <input type='text' name='TimeStamp' value='<%= timestamp %>'>
  <input type='text' name='Version' value='1.2'>
  <input type='text' name='LoginType' value='0'>
  <input type='text' name='Email' value='stest@gmail.com'>
  <input type='submit' value='Submit'>
</form>
