<% layout('./public/layout') %>
<form name='Pay2go' method='post' action='https://cpayment.pay2go.com/MPG/mpg_gateway'>
  <input type='text' name='MerchantID' value='PG100000002050'>
  <input type='text' name='Amt' value='2000'>
  <input type='text' name='TradeInfo' value='<%= tradeinfo %>'>
  <input type='text' name='TradeSha' value='<%= tradesha %>'>
  <input type='text' name='ItemDesc' value='some word'>
  <input type='text' name='MerchantOrderNo' value='1212389'>
  <input type='text' name='CheckValue' value='<%= check %>'>
  <input type='text' name='TimeStamp' value='<%= timestamp %>'>
  <input type='text' name='Version' value='1.0'>
  <input type='submit' value='Submit'>
</form>
