<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>C-Hub 成大創意基地</title>
  <meta name="keyword" content="NCKU, C-Hub">
  <meta name="description" content="C-Hub
一個屬於成功大學師生的創意空間，也邀請自由工作者及企業夥伴一起加入。從共創空間、展覽、論壇到各式各樣的活動，在這個屬於創意人的一方天地，我們將城市化做舞台，在這裏一起築夢， 透過一次一次的激盪，把創意揮灑在世界與城市的每個角落。

成功大學規劃與設計學院擁有豐富設備實作與共同資源，工作坊、論壇，人與人之間交流、概念與理想的火花碰撞，每一天都在發生，共同實踐想法；嘗試動手去做，從創意工坊、材料圖書室，揮灑創意的工具，更好的環境，豐富的設備器材，開啟無限創作能量。我們相信，燃起創意的火花，就能一起成就燦爛好風光。C-Hub是多元豐富的設計殿堂，更是所有理想的舞台。探索城市、認識台南，從C-Hub開始，邁向夢想，認識更好的自己。

創意：匯聚豐沛創作才華，點亮最棒的構想。
實作：「動手去做」是實踐任何計畫的第一步。
學習：設計想法與實務操作，在C-Hub的每一天，都有不同的成長。
資源：C-Hub提供諮詢協助和工具操作技能，帶領所有夥伴一起前進。
城市：台南是C-Hub的舞台，陪伴理想發光，最棒的點子都要走入生活，共同實踐。">
  <meta property="og:url" content="">
  <meta property="og:image" content="/assets/spaceAssets/images/index_bg01.jpg" />
  <meta name="robots" content="all">
  <meta name="distribution" content="GLOBAL">
  <meta name="rating" content="general">
  <meta name="revisit-after" content="7 days">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--css-->
  <link href="/assets/spaceAssets/images/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/assets/spaceAssets/images/css/content.css" rel="stylesheet" type="text/css" />
  <link href="/assets/spaceAssets/images/css/layout.css" rel="stylesheet" type="text/css" />
  <!--nav-->
  <link href="/assets/spaceAssets/images/css/nav.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/assets/spaceAssets/images/favicon.ico" type="image/x-icon">
  <script src="/assets/spaceAssets/includes/js/jquery-1.9.1.min.js"></script>
  <!--js-->
  <script type="text/javascript" src="/assets/spaceAssets/includes/js/swfobject.js"></script>
  <script type="text/javascript" src="/assets/spaceAssets/includes/js/jquery.min.js"></script>
  <!--回上層按鈕-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/assets/spaceAssets/includes/js/main.js"></script>

  <!--[if lt IE 8]>
    <style type="text/css">
    li a {display:inline-block;}
    li a {display:block;}
    </style>
    <![endif]-->
  <script type="text/javascript">
    function MM_preloadImages() { //v3.0
      var d = document;
      if (d.images) {
        if (!d.MM_p) d.MM_p = new Array();
        var i, j = d.MM_p.length,
          a = MM_preloadImages.arguments;
        for (i = 0; i < a.length; i++)
          if (a[i].indexOf("#") != 0) {
            d.MM_p[j] = new Image;
            d.MM_p[j++].src = a[i];
          }
      }
    }
  </script>
</head>

<body>
  <!--TOP-->
  <div id="indextopbg">
    <div id="">
      <div id="indextopswf">
        <div id="logo">
          <a href="/"><img src="/assets/spaceAssets/images/mainLogo.png" height="40px" /></a>
        </div>
      </div>
    </div>
  </div>


  <!--最新消息-->
  <div id="newsbg">
    <div class="wrapper">
      <div id="newscontent">

        <div class="index_title">
          <div class="index_title_en">Space</div>
          <div class="index_title_cht">C-Hub 場地申請</div>
        </div>
        <div class="index_rule">
          <div class="rule">
            <h2>申請說明</h2>
            <p>歡迎使用 C-Hub 場地租借系統！<br>第一次來的朋友，莫慌，請先點選動態影片，您將快速了解租借流程，也請記得觀看租借規範，預防任何藏在細節裡的魔鬼。 <br>有任何問題都歡迎與我們聯繫！
            </p>
            <div class="center">
              <iframe src="https://www.youtube.com/embed/_Cz6BFc2PyM" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
        <script type="text/javascript" src="//chub.checkfront.com/lib/interface--30.js"></script>
        <!-- CHECKFRONT BOOKING PLUGIN v23-->
        <div id="CHECKFRONT_WIDGET_01">
          <p id="CHECKFRONT_LOADER" style="background: url('//chub.checkfront.com/images/loader.gif') left center no-repeat; padding: 5px 5px 5px 20px">Searching Availability...</p>
        </div>
        <script>
          new CHECKFRONT.Widget({
            host: 'chub.checkfront.com',
            target: 'CHECKFRONT_WIDGET_01',
            options: 'tabs',
            provider: 'droplet'
          }).render();
        </script>
        <noscript><a href="https://chub.checkfront.com/reserve/" style="font-size: 16px">Continue to Secure Booking System &raquo;</a></noscript>
      </div>
    </div>

    <div id="google"></div>
    <!--footer-->
    <div id="basic">
      <div id="basic_left">
        <div id="basic_100">
          <div id="basic_add">國立成功大學規劃與設計學院 C-Hub創意基地 <br /> 地址｜台南市大學路一號 University Road, Tainan, TAIWAN 701</div>
          <div id="basic_copyright">© 2016 C-Hub @ NCKU. All rights reserved. Presented by xLab.</div>
        </div>
      </div>
    </div>
    <p>
      <a href="#0" class="cd-top">Top</a>
    </p>
</body>

</html>