@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.float_window {
  position: fixed;
  z-index: 90;
  left: 0;
  right: 0;
  top: 15vh;
  width: 100vw;
  height: 70vh;
  opacity: 0; }
  .float_window .dark_mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); }
  .float_window #detail_left {
    position: absolute;
    left: 0px; }
    .float_window #detail_left .class_icons {
      position: absolute; }
      .float_window #detail_left .class_icons .float_icon {
        position: relative;
        z-index: 20;
        top: 12vh;
        width: 40px;
        height: 75px;
        display: block;
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); }
        .float_window #detail_left .class_icons .float_icon.culture {
          background-image: url("../images/project_icon_culture.png"); }
        .float_window #detail_left .class_icons .float_icon.digital {
          background-image: url("../images/project_icon_digital.png"); }
        .float_window #detail_left .class_icons .float_icon.social {
          background-image: url("../images/project_icon_social.png"); }
        .float_window #detail_left .class_icons .float_icon.now {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
          .float_window #detail_left .class_icons .float_icon.now:after {
            position: relative;
            top: 68px;
            content: "";
            display: block;
            height: 2px;
            width: 85px;
            background: #ed9027; }
    .float_window #detail_left #detail_brief {
      position: relative;
      width: 100%; }
      .float_window #detail_left #detail_brief .brief_pic {
        position: relative;
        width: 38vh;
        max-height: 55vh;
        overflow: hidden;
        cursor: pointer; }
        .float_window #detail_left #detail_brief .brief_pic:hover #pic_more {
          opacity: 1; }
        .float_window #detail_left #detail_brief .brief_pic:active #pic_more, .float_window #detail_left #detail_brief .brief_pic:active #project_pic {
          filter: brightness(60%);
          -webkit-filter: brightness(60%); }
      .float_window #detail_left #detail_brief #project_pic {
        position: relative;
        transition: brightness 0.5s; }
      .float_window #detail_left #detail_brief #pic_more {
        position: absolute;
        display: inline-block;
        right: -2%;
        top: -1%;
        height: 102%;
        opacity: 0.7;
       }
      .float_window #detail_left #detail_brief .project_name {
        position: relative;
        width: 38vh;
        font-size: 20px;
        letter-spacing: 4px;
        color: #ed9027;
        margin-top: 2vh;
        text-align: right;
        padding-right: 10px;
        line-height: 38px; }
  .float_window #detail_right {
    position: absolute;
    margin-left: 47vh;
    width: calc(100vw - 47vh - 115px);
    top: 10%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;#pic_more
    padding-right: 100px;
   }
    .float_window #detail_right #detail_main_text {
      font-size: 18px;
      letter-spacing: 4px;
      color: #ed9027;
      line-height: 30px;
      font-weight: 600; }
      .float_window #detail_right #detail_main_text:after {
        position: relative;
        top: 10px;
        content: "";
        display: block;
        height: 2px;
        width: 75px;
        margin-bottom: 30px;
        background: #ed9027; }
    .float_window #detail_right .title {
      font-size: 12px;
      font-style: italic;
      display: inline;
      letter-spacing: 2px; }
      .float_window #detail_right .title.with_space {
        position: relative;
        line-height: 55px; }
    .float_window #detail_right span {
      color: #ed9027;
      margin: 0px 8px; }
    .float_window #detail_right .short {
      display: inline; }
      .float_window #detail_right .short.orange {
        color: #ed9027; }
    .float_window #detail_right .long {
      position: relative;
      top: -12px;
      margin-bottom: -5px;
      left: 40px;
      padding-right: 80px;
      line-height: 18px; }
    .float_window #detail_right a {
      text-decoration: underline;
      transition: opacity 0.2s; }
      .float_window #detail_right a:hover {
        cursor: pointer;
        opacity: 0.7; }
      .float_window #detail_right a:active {
        opacity: 0.4; }

.float_pic_window {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: none;
  opacity: 0; }
  .float_pic_window .slideshow_btn {
    position: absolute;
    top: 35vh;
    z-index: 150;
    cursor: pointer;
    transition: opacity 0.2s; }
    .float_pic_window .slideshow_btn line {
      stroke-width: 2;
      stroke: #ed9027; }
    .float_pic_window .slideshow_btn.disabled {
      cursor: default;
      opacity: 0.4; }
      .float_pic_window .slideshow_btn.disabled:hover {
        opacity: 0.4; }
    .float_pic_window .slideshow_btn:hover {
      opacity: 0.7; }
    .float_pic_window .slideshow_btn:active {
      opacity: 0.4; }
  .float_pic_window #go_prev {
    left: 50px; }
  .float_pic_window #go_next {
    right: 50px; }
  .float_pic_window #view_all_pic {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    align-items: center; }
    .float_pic_window #view_all_pic .gallery_view_pic {
      position: relative;
      width: 50%;
      top: 0px;
      opacity: 0.3;
      margin: 30px;
      transition: opacity 0.5s, width 0.5s, top 0.5s; }
      .float_pic_window #view_all_pic .gallery_view_pic.center {
        width: 55%;
        top: 0;
        opacity: 1; }
  .float_pic_window .view_pic_counter {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10vh; }
    .float_pic_window .view_pic_counter .pic_counter {
      color: #ed9027;
      letter-spacing: 2px;
      font-size: 14px;
      font-style: italic; }

.bottom_icons {
  position: absolute;
  bottom: -5px;
  right: 115px;
  cursor: pointer;
  z-index: 120; }
  .bottom_icons .round_icon {
    width: 100px;
    height: 30px;
    display: inline-block;
    background-size: auto 90%;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.2s; }
    .bottom_icons .round_icon.join {
      background-image: url("../images/round_icon_join.png"); }
    .bottom_icons .round_icon.interest {
      background-image: url("../images/round_icon_interest.png"); }
    .bottom_icons .round_icon.share {
      background-image: url("../images/round_icon_share.png"); }
    .bottom_icons .round_icon.text {
      background-image: url("../images/round_icon_text.png"); }
    .bottom_icons .round_icon:hover {
      opacity: 0.7; }
    .bottom_icons .round_icon:active {
      opacity: 0.4; }

.close_icon {
  position: absolute;
  z-index: 91;
  right: 108px;
  top: 15px;
  background: url("../images/close.png");
  height: 17px;
  width: 16px;
  text-decoration: none; }
  .close_icon:hover {
    background: url("../images/close_on.png"); }
  .close_icon:active {
    opacity: 0.4; }

    .auto_adjust_activity_inner {
      height: 55vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background: grey; }
      .auto_adjust_activity_inner.fat img {
        height: 100%;
        width: auto; }
      .auto_adjust_activity_inner.tall img {
        width: 100%;
        height: auto; }
    