@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

#intro_left {
  position: absolute;
  left: 20vw;
  top: 20vh;
  width: 16vw; }
  #intro_left p {
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 3px; }
  #intro_left .space {
    height: 14vh; }
  #intro_left #you_can {
    float: left;
    margin-right: 15px; }
  #intro_left #search {
    position: relative;
    z-index: 20;
    float: left;
    background: url("../images/search.png");
    height: 18px;
    width: 82px;
    text-decoration: none; }
    #intro_left #search:hover {
      background: url("../images/search_on.png"); }
    #intro_left #search:active {
      opacity: 0.4; }

#activity_list {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0.5vh;
  width: 90vw;
  height: 99vh;
  overflow-x: hidden;
  overflow-y: scroll; }
  #activity_list .row {
    width: 15vw;
    margin-left: 2vw;
    display: inline-block; }
  #activity_list #row_1 {
    position: absolute;
    left: 6vw;
    top: 5vh; }
  #activity_list #row_2 {
    position: absolute;
    left: 24vw;
    top: 22vh; }
  #activity_list #row_3 {
    position: absolute;
    left: 42vw;
    top: 12vh; }
  #activity_list #row_4 {
    position: absolute;
    left: 60vw;
    top: 42vh; }
  #activity_list .activity_item {
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    margin: 0vh 0vh 4vh 0vh;
    transition: 0.5s; }
    #activity_list .activity_item .auto_adjust {
    	position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      z-index: 1;
 }
      #activity_list .activity_item .auto_adjust.fat img {
        height: 100%;
        width: auto; }
      #activity_list .activity_item .auto_adjust.tall img {
        width: 100%;
        height: auto; }
    #activity_list .activity_item .preview_shadow {
    	position: absolute;
			z-index: 2; 
			width: 100%;
			height: 35vh; 
			left: 0;}
    #activity_list .activity_item .preview_more {
      position: absolute;
      z-index: 20;
      left: 0;
      right: 0;
      bottom: 22vh;
      margin: auto;
      width: 8vh;
      height: 8vh;
      opacity: 0;
      display: block;
      background: #ed9027;
      background-image: url("../images/project_more.png");
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100vh;
      transition: 0.5s; }
    #activity_list .activity_item .preview_title {
      position: absolute;
      z-index: 30;
      left: 0;
      right: 0;
      bottom: 16vh;
      margin: auto;
      color: #ed9027;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 2px;
      padding: 15px;
      transition: opacity 0.5s; }
      #activity_list .activity_item .preview_title:after {
        position: relative;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        content: "";
        display: block;
        height: 2px;
        width: 30px;
        background: #ed9027; }
    #activity_list .activity_item .preview_class {
      position: absolute;
      z-index: 30;
      left: 0;
      right: 0;
      bottom: 11vh;
      margin: auto;
      font-size: 12px;
      letter-spacing: 2px;
      transition: opacity 0.5s; }
    #activity_list .activity_item .preview_date{
      position: absolute;
      z-index: 30;
      left: 0;
      right: 0;
      bottom: 8.5vh;
      margin: auto;
      opacity: 0.7;
      font-size: 12px;
      letter-spacing: 2px;
      transition: opacity 0.5s; }
    #activity_list .activity_item .icon {
      position: absolute;
      z-index: 20;
      left: 0;
      right: 0;
      bottom: 10vh;
      margin: auto;
      width: 8vh;
      height: 8vh;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.5s; }
      #activity_list .activity_item .icon.culture {
        background-image: url("../images/project_icon_culture.png"); }
      #activity_list .activity_item .icon.digital {
        background-image: url("../images/project_icon_digital.png"); }
      #activity_list .activity_item .icon.social {
        background-image: url("../images/project_icon_social.png"); }
    #activity_list .activity_item:hover {
      z-index: 100;
      height: 42vh;
      width: 20vw;
      transform: translate(-2.5vw, -2vh); }
      #activity_list .activity_item:hover .preview_shadow {
        display: none;}
      #activity_list .activity_item:hover .preview_more {
        bottom: 16vh;
        height: 10vh;
        width: 10vh;
        opacity: 0.7; }
      #activity_list .activity_item:hover .preview_title, #activity_list .activity_item:hover .preview_class, #activity_list .activity_item:hover .preview_date, #activity_list .activity_item:hover .icon {
        opacity: 0; }
    #activity_list .activity_item:active .preview_pic {
      -webkit-filter: brightness(30%);
      filter: brightness(30%); }
    #activity_list .activity_item:active .preview_more {
      -webkit-filter: brightness(80%);
      filter: brightness(80%); }

#preview_control {
  position: absolute;
  z-index: 200;
  top: 20vh;
  left: 80vw;
  margin-left: 50px;
  margin-top: -40px; }
  #preview_control .sort_way {
    position: relative;
    color: #ed9027;
    display: block;
    height: 60px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: opacity 0.5s; }
    #preview_control .sort_way:after {
      position: absolute;
      top: 24px;
      left: 0;
      content: "";
      display: block;
      height: 2px;
      width: 16px;
      background: #ed9027;
      transition: width 0.2s; }
    #preview_control .sort_way:hover {
      opacity: 0.7; }
    #preview_control .sort_way.now:after {
      position: absolute;
      top: 24px;
      left: 0;
      content: "";
      display: block;
      height: 2px;
      width: 32px;
      background: #ed9027; }
    #preview_control .sort_way:active {
      opacity: 0.4; }
