@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.bottom {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg_pic.png");
  background-repeat: no-repeat;
  background-size: cover; }

.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  background-image: url("../images/bg_cover.png");
  background-repeat: no-repeat;
  background-size: cover; }

.project_cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-image: url("../images/project_cover.png");
  background-repeat: no-repeat;
  background-size: cover; }

.sidebar_cover {
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  color: transparent; }
