@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.bottom {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg_pic.png");
  background-repeat: no-repeat;
  background-size: cover; }

.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  background-image: url("../images/bg_cover.png");
  background-repeat: no-repeat;
  background-size: cover; }

.project_cover {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg_project01.png");
  background-repeat: no-repeat;
  background-size: cover; }

.sidebar_cover {
  display: none;
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  color: transparent; }

.halfscreen_cover {
  display: none;
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  color: transparent; }

.activity_cover {
	display: none;
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg_activity01.png");
  background-repeat: no-repeat;
  background-size: cover; }

.whatOn_cover {
	display: none;
  position: fixed;
  z-index: 0;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg_what_on.png");
  background-repeat: no-repeat;
  background-size: cover; }

.loading_cover {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
	background-color: black;}