@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.float_window {
  position: fixed;
  margin: auto;
  z-index: 200;
  left: 3vw;
  top: 10vh;
  width: 90vw;
  height: 80vh;
  opacity: 0; }
  .float_window .dark_mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); }
  .float_window #detail_left {
    position: relative; }
    .float_window #detail_left #group_name {
      position: relative;
      z-index: 100;
      margin-left: 50px; }
      .float_window #detail_left #group_name .title {
        font-style: italic;
        font-size: 12px; }
      .float_window #detail_left #group_name .name {
        font-size: 24px;
        letter-spacing: 2px;
        font-weight: bolder; }
    .float_window #detail_left .share_icons {
      position: absolute;
      margin-left: 10vw;
      left: -70px;
      top: 55vh; }
      .float_window #detail_left .share_icons img {
        display: list-item;
        width: 30px;
        margin: 20px 0px;
        transition: opacity 0.2s; }
        .float_window #detail_left .share_icons img:hover {
          cursor: pointer;
          opacity: 0.7; }
        .float_window #detail_left .share_icons img:active {
          opacity: 0.4; }
    .float_window #detail_left #detail_brief {
      position: absolute;
      top: -10vh;
      width: 50vw; }
      .float_window #detail_left #detail_brief .brief_pic {
        margin-left: 10vw;
        height: 100vh;
        width: 40vw; }
      .float_window #detail_left #detail_brief .name {
        font-size: 24px;
        letter-spacing: 1px; }
        .float_window #detail_left #detail_brief .name:before {
          position: relative;
          content: "";
          display: block;
          height: 6px;
          width: 7vw;
          margin-top: 6vh;
          margin-bottom: 4vh;
          background: #ed9027; }
      .float_window #detail_left #detail_brief .sub_name {
        font-size: 20px;
        margin-top: 0.5vh;
        letter-spacing: 4px;
        color: #ed9027; }
      .float_window #detail_left #detail_brief #text_me {
        position: absolute;
        z-index: 100;
        float: left;
        background: url("../images/text_me.png");
        height: 18px;
        width: 85px;
        margin: 10vh 0px;
        text-decoration: none;
        transition: opacity 0.2s; }
        .float_window #detail_left #detail_brief #text_me:hover {
          opacity: 0.7; }
        .float_window #detail_left #detail_brief #text_me:active {
          opacity: 0.4; }
  .float_window #detail_right {
    position: absolute;
    z-index: 100;
    top: 6%;
    margin-left: 55vw;
    height: 82%;
    width: 34vw;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 30px; }
    .float_window #detail_right .title {
      font-size: 14px;
      font-style: italic;
      display: inline; }
      .float_window #detail_right .title.with_space {
        position: relative;
        line-height: 55px; }
    .float_window #detail_right span {
      color: #ed9027;
      margin: 0px 8px; }
    .float_window #detail_right .short {
      display: inline; }
    .float_window #detail_right .long {
      position: relative;
      top: -10px;
      margin-bottom: -5px;
      left: 40px;
      line-height: 24px; }
    .float_window #detail_right a {
      text-decoration: underline;
      transition: opacity 0.2s; }
      .float_window #detail_right a:hover {
        cursor: pointer;
        opacity: 0.7; }
      .float_window #detail_right a:active {
        opacity: 0.4; }

.bottom_icons {
  position: absolute;
  bottom: -20px;
  right: 25px;
  cursor: pointer;
  z-index: 120; }
  .bottom_icons .round_icon {
    width: 100px;
    height: 30px;
    display: inline-block;
    background-size: auto 90%;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.2s; }
    .bottom_icons .round_icon.join {
      background-image: url("../images/round_icon_join.png"); }
    .bottom_icons .round_icon.interest {
      background-image: url("../images/round_icon_interest.png"); }
    .bottom_icons .round_icon.share {
      background-image: url("../images/round_icon_share.png"); }
    .bottom_icons .round_icon.text {
      background-image: url("../images/round_icon_text.png"); }
    .bottom_icons .round_icon:hover {
      opacity: 0.7; }
    .bottom_icons .round_icon:active {
      opacity: 0.4; }

.close_icon {
	z-index: 101;
  position: absolute;
  right: 15px;
  top: 15px;
  background: url("../images/close.png");
  height: 17px;
  width: 16px;
  text-decoration: none; }
  .close_icon:hover {
    background: url("../images/close_on.png"); }
  .close_icon:active {
    opacity: 0.4; }

.auto_adjust {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .auto_adjust.fat img {
    height: 100%;
    width: auto; }
  .auto_adjust.tall img {
    width: 100%;
    height: auto; }
