@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
body {
    font-family: 'Noto Sans', helvetica, Microsoft JhengHei, serif, sans-serif, monospace;
    color: white;
}

a,a:hover{
  color:white;
  text-decoration: none;
}

h1 {
    line-height: 120px;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 5px;
}

p {
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0px;
}

/* old */

.errormsg {
    color: red;
    line-height: 20px;
}

#mainSidebar, #mainSidebar>label {
    color: white;
}

.textcenter {
    text-align: center;
}
