@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%;
  overflow-x: hidden; }

body {
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Noto Sans', helvetica, Microsoft JhengHei, serif, sans-serif, monospace;
  color: white;
  background: black;
  word-wrap: break-word; }

p, a {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0px; }

.footer {
  position: absolute;
  display: block;
  left: -10vw;
  width: 100vw;
  height: 130px;
  margin-top: 30px;
  padding-top: 30px;
  background: black; }
  .footer .footer_logo {
    position: relative;
    display: block;
    margin: auto;
    width: 20vw;
    margin-top: 0;
    height: auto; }
  .footer .footer_fb {
    position: relative;
    display: block;
    margin: auto;
    width: 7vw;
    margin-top: 12px; }
    .footer .footer_fb img {
      width: 100%;
      height: auto; }
  .footer .footer_text {
  	font-size: 12px;
    margin-top: 10px;
    text-align: center; }

.button {
  cursor: pointer;
  transition: 0.2s; }
  .button:hover {
    opacity: 0.7; }
  .button.opacity_underline {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3); }
    .button.opacity_underline:after {
      position: relative;
      content: '';
      display: block;
      margin: auto;
      top: 8px;
      height: 1px;
      width: 0px;
      background: #ed9027;
      transition: 0.5s; }
    .button.opacity_underline.on {
      color: white;
      cursor: default; }
      .button.opacity_underline.on:after {
        width: 20px; }
  .button.link {
    display: block;
    text-decoration: underline; }
  .button.blocked {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 190px;
    padding: 13px 0px;
    text-align: center;
    border-radius: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    border: white 1px solid;
    transition: background 0.2s, border-color 0.2s, opacity 0.2s; }
    .button.blocked:hover {
      background: rgba(255, 255, 255, 0.3);
      border-color: transparent; }
    .button.blocked.black {
      position: relative;
      border-color: transparent;
      background: rgba(0, 0, 0, 0.6); }
      .button.blocked.black:hover {
        background: rgba(0, 0, 0, 0.9); }

.bottomline:after {
  position: relative;
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 100%; }

.text {
  position: relative;
  line-height: 20px;
  letter-spacing: 1px; }
  .text.big {
    font-size: 16px; }
  .text.giga {
    font-size: 22px; }
  .text.orange {
    color: #ed9027; }
  .text.space {
    letter-spacing: 3px; }
  .text.normal {
    font-size: 12px; }
    .text.normal.long {
      margin-bottom: 10px; }
  .text.narrow {
    top: 3px;
    line-height: 16px; }
  .text.title {
    font-size: 16px;
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 9px;
    margin-bottom: -1px; }
    .text.title.long {
      margin-top: 35px;
      margin-bottom: 10px; }
    .text.title span {
      font-size: 14px;
      font-style: normal;
      color: #ed9027;
      margin: 0 3px; }
  .text.page_title {
    left: 5vw;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 40px; }
  .text.paragraph {
    margin-bottom: 30px;
    width: 70vw;
    left: 5vw; }

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%; }
  .background.default {
    background: #4c4948;
    background: -moz-linear-gradient(top, #4c4948 0%, #040000 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c4948), color-stop(100%, #040000));
    background: -webkit-linear-gradient(top, #4c4948 0%, #040000 100%);
    background: -o-linear-gradient(top, #4c4948 0%, #040000 100%);
    background: -ms-linear-gradient(top, #4c4948 0%, #040000 100%);
    background: linear-gradient(to bottom, #4c4948 0%, #040000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4948', endColorstr='#040000', GradientType=0 ); }
  .background.profile {
    background: url("../images/bg_1.png");
    background-size: 100% auto; }
  .background.about {
    background: url("../images/bg_2.png");
    opacity: 0.4;
    background-size: 100% auto; }
  .background.whats_on {
    background: url("../images/bg_3.png");
    background-size: 100% auto; }
  .background.darken {
    background: rgba(0, 0, 0, 0.9);
    display: block;
    top: 0;
    left: -105%;
    width: 101%;
    height: 101%;
    transition: 0.5s; }

.auto_adjust {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .auto_adjust.fat img {
    height: 100%;
    width: auto; }
  .auto_adjust.tall img {
    width: 100%;
    height: auto; }

.blank {
  position: relative;
  display: block;
  width: 100%; }
  .blank.short {
    height: 3vh; }
  .blank.long {
    height: 10vh; }

.page {
  position: relative;
  width: 80vw;
  top: 14vh;
  margin-bottom: 14vh;
  left: 10vw; }

.greenline {
  position: absolute;
  display: inline-block;
  width: 2px;
  background: #5fb8a3; }
  .greenline.short {
    left: 1vw;
    height: 20px; }

#menu {
  position: fixed;
  z-index: 200;
  display: flex;
  align-items: center;
  height: 7vh;
  width: 100vw;
  background: #000000; }
  #menu .set {
    position: absolute;
    line-height: 7vh; }
  #menu .center {
    width: 100px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center; }
  #menu .left {
    left: 0; }
  #menu .right {
    right: 3px; }
  #menu #menu_main_btn {
    cursor: pointer;
    width: 100px; }
  #menu #menu_main_icon {
    position: relative;
    z-index: 0;
    vertical-align: middle;
    height: 3.5vh;
    left: 20px; }
  #menu #logo_btn {
    position: relative;
    cursor: pointer;
    height: 4.9vh;
    vertical-align: middle; }
  #menu #menu_search_icon, #menu #menu_profile_icon {
    position: relative;
    top: -0.5vh;
    height: 3.5vh;
    opacity: 0.7; }
    #menu #menu_search_icon.on, #menu #menu_profile_icon.on {
      opacity: 1; }
  #menu .with_line {
    position: relative;
    display: inline-block;
    border: #ed9027 solid;
    border-width: 0px 0px 0px 1px;
    padding-left: 10px;
    padding-right: 7px;
    top: 2.1vh;
    height: 4.5vh; }

#menu_content {
  position: fixed;
  z-index: 150;
  width: 50vw;
  top: 18vh;
  left: -50vw;
  transition: 0.5s; }
  #menu_content.on {
    left: 12vw; }
    #menu_content.on .darken {
      left: 0; }
  #menu_content .menu_title {
    position: relative;
    font-size: 20px;
    letter-spacing: 2px;
    display: block;
    margin: 30px;
    transition: 0.5s; }
    #menu_content .menu_title:before {
      position: absolute;
      content: '';
      display: block;
      left: -20px;
      width: 0px;
      opacity: 0;
      background: #ed9027;
      transition: 0.5s;
      transform: rotate(540deg); }
    #menu_content .menu_title.on {
      margin-left: 50px; }
      #menu_content .menu_title.on:before {
        opacity: 1;
        height: 20px;
        width: 2px;
        transform: rotate(0deg); }

#profile_menu {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0vh;
  height: 7vh;
  width: 100vw;
  background: #4d4d4d;
  transition: 0.5s; }
  #profile_menu.on {
    top: 7vh; }

#my_profile .bottomline:after {
  margin: 5vh 0;
  background: white;
  opacity: 0.4; }

#my_profile .upper {
  position: relative;
  padding-top: 4vh;
  text-align: center; }
  #my_profile .upper .profile_photo {
    margin: auto;
    width: 90px;
    height: 120px;
    margin-bottom: 2vh;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  #my_profile .upper .text {
    margin-top: 6px; }

#my_profile .lower {
  position: relative; }

#signup, #login {
  top: 25vh;
  margin-bottom: 20vh; }
  #signup input, #login input {
    position: relative;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(255, 255, 255, 0.3);
    width: 80%;
    left: 10%;
    right: 0;
    margin: auto;
    margin-top: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
    transition: border-color 0.5s; }
    #signup input::-webkit-input-placeholder, #login input::-webkit-input-placeholder {
      position: relative;
      color: white;
      transition: color 0.5s; }
    #signup input::-moz-placeholder, #login input::-moz-placeholder {
      color: white;
      transition: color 0.5s; }
    #signup input:-ms-input-placeholder, #login input:-ms-input-placeholder {
      color: white;
      transition: color 0.5s; }
    #signup input:-moz-placeholder, #login input:-moz-placeholder {
      color: white;
      transition: color 0.5s; }
    #signup input:focus, #login input:focus {
      outline: none;
      border-color: white; }
      #signup input:focus::-webkit-input-placeholder, #login input:focus::-webkit-input-placeholder {
        color: transparent; }
      #signup input:focus::-moz-placeholder, #login input:focus::-moz-placeholder {
        color: transparent; }
      #signup input:focus:-ms-input-placeholder, #login input:focus:-ms-input-placeholder {
        color: transparent; }
      #signup input:focus:-moz-placeholder, #login input:focus:-moz-placeholder {
        color: transparent; }
  #signup .hint, #login .hint {
    text-align: center; }

#about {
  top: 17vh; }

#whats_on {
  width: 100vw;
  left: 0vw; }
  #whats_on .footer {
    left: 0vw; }
  #whats_on #preview_gallery {
    position: relative;
    overflow: hidden;
    height: 100vh;
    top: -10vh;
    padding-top: 17vh;
    margin-bottom: -14vh; }
    #whats_on #preview_gallery .control {
      position: absolute;
      display: block;
      z-index: 10;
      top: 3vh;
      left: -10vw;
      height: 85vh;
      width: 110vw;}
      #whats_on #preview_gallery .control .move {
        position: absolute;
        margin-top: calc(42.5vh - 31px);
        height: 40px;
        width: auto;
        cursor: pointer;
        transition: 0.2s; }
        #whats_on #preview_gallery .control .move.left {
          left: calc(10vw - 1px); }
        #whats_on #preview_gallery .control .move.right {
          right: -1px; }
        #whats_on #preview_gallery .control .move.disabled {
          opacity: 0;
          cursor: default; }
      #whats_on #preview_gallery .control .counter {
        position: relative;
        width: 50vw;
        height: 20px;
        margin: auto;
        left: 5vw;
        top: 60vh;
        text-align: center;
        overflow: hidden; }
        #whats_on #preview_gallery .control .counter .dot {
          display: inline-block;
          bottom: 0;
          width: 6px;
          height: 6px;
          margin: 8px;
          border-radius: 100%;
          background: #323232; }
          #whats_on #preview_gallery .control .counter .dot.on {
            background: white; }
      #whats_on #preview_gallery .control .info {
        position: relative;
        height: calc(20vh - 4px);
        width: calc(100vw - 2px);
        left: 10vw;
        top: 63vh;
        background: rgba(0, 0, 0, 0.6);
        border: 1px solid #ed9027; }
        #whats_on #preview_gallery .control .info .giga {
        	font-size: 18px;
          left: 10vw;
          width: 30vw;
          line-height: 20px;
          padding-top: 4.5vh; }
        #whats_on #preview_gallery .control .info .class_name {
          left: 10vw;
          padding-top: 1vh; }
        #whats_on #preview_gallery .control .info .class_icon {
          position: absolute;
          top: 0;
          right: 0;
          height: calc(10vh - 2px);
          top: 5vh;
          width: 23vw;
          background: url("../images/project_icon_culture.png") no-repeat;
          background-size: 28px;
          background-position: 35% 60%; }
    #whats_on #preview_gallery .display {
      position: relative;
      display: flex;
      width: 10vw;
      height: 85vh;
      top: -14vh;
      left: -10vw;
      overflow: hidden;
      transition: 0.5s; }
      #whats_on #preview_gallery .display .pic_full {
        position: relative;
        width: 100vw;
        height: 100%;
        right: -10vw;
        margin-bottom: -14vh; }
    #whats_on #preview_gallery .start_explore {
      position: relative;
      top: 0;
      height: 8vh;
      margin-top: -14vh;
      width: 100vw;
      background-color: black; }
      #whats_on #preview_gallery .start_explore img {
        position: relative;
        display: block;
        top: 10%;
        height: 80%;
        margin: auto; }
  #whats_on .block {
    position: relative;
    left: 5vw;
    height: 65vh;
    width: 90vw; }
    #whats_on .block .page_title {
      position: absolute;
      margin-top: 5vh;
      line-height: 8vh; }
    #whats_on .block .sort_box {
      position: absolute;
      margin-top: 5vh;
      right: 5vw; }
      #whats_on .block .sort_box .sort_way {
        position: relative;
        line-height: 8vh;
        color: #ed9027;
        display: inline-block;
        letter-spacing: 2px;
        cursor: pointer;
        margin-left: 5vw; }
        #whats_on .block .sort_box .sort_way:after {
          position: absolute;
          top: 4vh;
          margin-top: 14px;
          left: 0;
          content: "";
          display: block;
          height: 1px;
          width: 16px;
          background: #ed9027;
          transition: width 0.2s; }
        #whats_on .block .sort_box .sort_way.now:after {
          width: 30px; }
    #whats_on .block .round_display {
      position: relative;
      top: 15vh;
      left: 12.5vw;
      width: 25vw;
      display: flex;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      transition: 0.5s; }
      #whats_on .block .round_display .pic_round {
        position: relative;
        height: 55vw;
        width: 55vw;
        margin: 2vh 5vw;
        border-radius: 100%;
        -webkit-filter: brightness(40%);
        filter: brightness(40%); }
      #whats_on .block .round_display .text {
        position: relative;
        top: -40vw;
        color: white;
        text-align: center; }
      #whats_on .block .round_display .icon_more_1 {
        position: relative;
        display: block;
        top: -35vw;
        height: 7vw;
        width: auto;
        margin: auto; }
    #whats_on .block .go_box {
      position: absolute;
      height: 3vw;
      width: 40vw;
      display: block;
      left: 25vw;
      bottom: 9vh; }
      #whats_on .block .go_box .go_to {
        position: relative;
        display: inline-block;
        height: 3vw;
        width: 15vw;
        display: block;
        background-size: 95%;
        background-repeat: no-repeat;
        cursor: pointer; }
        #whats_on .block .go_box .go_to.prev {
          position: absolute;
          left: 0;
          background-image: url("../images/go_up.png"); }
          #whats_on .block .go_box .go_to.prev:hover {
            background-image: url("../images/go_up_active.png"); }
        #whats_on .block .go_box .go_to.next {
          position: absolute;
          right: 0;
          background-image: url("../images/go_down.png"); }
          #whats_on .block .go_box .go_to.next:hover {
            background-image: url("../images/go_down_active.png"); }
