<% layout("../layout") %>

<div class="page" id="people">
    <div id="people_view">
        <div id="people_to_major">
            <p class="people">People</p>
            <p class="to">—</p>
            <p class="major">Major</p>
        </div>
        <div id="people_list">
            <div class="people_item from_left">
                <div class="pic">
                    <div class="auto_adjust not_yet">
                        <img class="preview_pic" src="img/test.jpg">
                    </div>
                    <div class="angle"></div>
                </div>
                <div class="text">
                    <p class="preview_name">Yen Ting Cho</p>
                    <p class="preview_major">Media Design</p>
                    <p class="preview_skills">Technology<br>Design<br>Architecture</p>        
                </div>
            </div>
            <div class="people_item from_right">
                <div class="pic">
                    <div class="auto_adjust not_yet">
                        <img class="preview_pic" src="img/test.jpg">
                    </div>
                    <div class="angle"></div>
                </div>
                <div class="text">
                    <p class="preview_name">Yen Ting Cho</p>
                    <p class="preview_major">Media Design</p>
                    <p class="preview_skills">Technology<br>Design<br>Architecture</p>        
                </div>
            </div>
            <div class="people_item from_left">
                    <div class="pic">
                        <div class="auto_adjust not_yet">
                            <img class="preview_pic" src="img/test.jpg">
                        </div>
                        <div class="angle"></div>
                    </div>
                    <div class="text">
                        <p class="preview_name">Yen Ting Cho</p>
                        <p class="preview_major">Media Design</p>
                        <p class="preview_skills">Technology<br>Design<br>Architecture</p>        
                    </div>
                </div>
                <div class="people_item from_right">
                    <div class="pic">
                        <div class="auto_adjust not_yet">
                            <img class="preview_pic" src="img/test.jpg">
                        </div>
                        <div class="angle"></div>
                    </div>
                    <div class="text">
                        <p class="preview_name">Yen Ting Cho</p>
                        <p class="preview_major">Media Design</p>
                        <p class="preview_skills">Technology<br>Design<br>Architecture</p>        
                    </div>
                </div>
        </div>
        <div class="view_more"></div>
    </div>
</div>