<div id="footer">
<div class="footer_top"></div>

<div class="footer_bottom">
  <img id="chub_fb" src="/assets/images/chub_fb.png">
  <p class="copyright">© 2017 About Inc. — All Rights Reserved.</p>
</div>

</div>
