<div id="footer">
<!-- <div class="footer_top"></div> -->

<div class="footer_bottom" style="padding: 5% 5%;">
  <img id="chub_fb" src="/assets/images/chub_fb.png" onclick="window.open('https://www.facebook.com/chub.tainan/')">
  <p class="copyright">Address: 台南市大學路一號</p>
	<p>（成功大學光復校區 小東路與前鋒路交叉口）</p>
  <p class="copyright">T: 06-2757575 ext. 50239, 06-2360426, 06-2004230</p>
  <p class="copyright">Email: chub.ncku@gmail.com</p>
<!-- </div> -->

</div>
