<!-- 選單 -->

<div id="menu">
    <div class="set left" id="menu_main_btn">
        <img id="menu_main_icon" src="/assets/images/mobile/menu_icon_full.png">
    </div>
    <div class="set center">
        <img id="logo_btn" src="/assets/images/chub_logo.png">
    </div>
    <div class="set right">
        <!-- <a class="button with_line"><img id="menu_search_icon" src="/assets/images/side_search.png"></a> -->
        <!-- <a class="button with_line"><img id="menu_profile_icon" src="/assets/images/side_profile.png"></a> -->
    </div>
</div>

<div id="menu_content">
    <a class="button menu_title switch_about">About</a>
    <!-- <a class="button menu_title">People</a> -->
    <!-- <a class="button menu_title">Group</a> -->
    <a class="button menu_title" href="/projects">Project</a>
    <!-- <a class="button menu_title">Activity</a> -->
    <a class="button menu_title switch_whatson" href="/whaton">What's On</a>
    <a class="button menu_title" href="/space">Space</a>
    <div class="background darken"></div>    
</div>

<div id="profile_menu">
    <a class="button opacity_underline profile_menu_btn loggedin">Interested</a>
    <a class="button opacity_underline profile_menu_btn loggedin switch_myprofile">My Profile</a>
    <a class="button opacity_underline profile_menu_btn loggedin">Heads-Up</a>
    <a class="button opacity_underline profile_menu_btn loggedin to_logout">Log Out</a>
    <a class="button opacity_underline profile_menu_btn loggedout switch_signup">Sign Up</a>
    <a class="button opacity_underline profile_menu_btn loggedout switch_login">Log In</a>
</div>


<!-- 頁面 -->

<div class="page" id="my_profile">
    <div class="upper bottomline">
        <div class="profile_photo auto_adjust not_yet">
            <img src="/assets/images/mobile/test.jpg">
        </div>
        <p class="text big">Davin Lin</p>
        <p class="text big orange space">林耿弘</p>
        <div class="blank short"></div>
        <p class="text title">School<span>/</span></p>
        <p class="text orange">林耿弘</p>
        <p class="text title">Student ID<span>/</span></p>
        <p class="text orange">H34026018</p>
        <p class="text title">Major<span>/</span></p>
        <p class="text orange">Incredible Magic</p>
        <p class="text title">Skills<span>/</span></p>
        <p class="text orange narrow">Front-End、<br>Design、<br>Growth Hack</p>
    </div>
    <div class="lower">
        <p class="text title long">Project<span>/</span></p>
        <a class="text button link">情意互動設計 Design for Affective Interaction</a>
        <a class="text button link">情意互動設計 Design for Affective Interaction</a>
        <a class="text button link">情意互動設計 Design for Affective Interaction</a>
        <p class="text title long">Activity<span>/</span></p>
        <a class="text button link">2016 風格台南 創意時尚展</a>
        <a class="text button link">2016 風格台南 創意時尚展</a>
    </div>
    <div class="blank short"></div>
    <div class="footer">
        <img class="footer_logo" src="/assets/images/chub_full_logo.png">
        <a class="footer_fb" class="button"><img src="/assets/images/mobile/goto_fb.png"></a>
        <p class="footer_text">© 2017 About Inc. -- All Rights Reserved.</a>
    </div>
</div>

<div class="page" id="signup">
    <div class="blank long signingup"></div>
    <a class="button blocked signingup">Create Account</a>
    <a class="button blocked black signingup">Facebook</a>
    <p class="button hint signingup">Already have an account?</a>
</div>

<div class="page" id="login">
    <input type="text" class="loggingin" placeholder="Email">
    <input type="password" class="loggingin" placeholder="Password">
    <div class="blank long loggingin"></div>
    <a class="button blocked loggingin to_login">Log In</a>
    <a class="button blocked black loggingin">Facebook</a>
    <p class="button hint loggingin">Don't have an account?</a>
</div>

<div class="page" id="about">
    <div class="greenline short"></div>
    <p class="text page_title">About</p>
    <p class="text paragraph" style="text-align: center;">2014年初，成功大學規劃與設計學院，啟動為期三年的「無邊界校園計畫」，逐步打造出略具雛形的C-Hub成大創意基地，作為第一年的起頭。為進一步建立完整教育、育成與實踐流程，促成企業與校園雙邊滲透，找尋新創團隊實踐契機，透過第一年所舉辦展覽與論壇兩大活動，進行大學、產業、城市之對話與交流，俾能集思廣益，募集企業與城市夥伴打造未來設計、使用、需求共同交流的平台。</p>
    <p class="text paragraph" style="text-align: center;">In the beginning of year 2014, College of Planning & Design, National Cheng Kung University started the "Borderless Campus Project" in the duration of 3 phases. Through the co-creation of teachers and students, blending the energy of research and development & incubation in the campus, C-Hub with the simple prototype was built as the first year's achievement of this project. In order to further establish the complete process of education, incubation and practice, promote the bilateral immersion between industry and campus, and search for the practice opportunity of innovative teams; it will hereby hold two main events of exhibition and forum in the anniversary week of NCKU. With the conversation and exchange among university, industry and city, collective wisdom can be drawn and useful ideas can be absorbed.</p>
    <div class="footer">
        <img class="footer_logo" src="/assets/images/chub_full_logo.png">
        <a class="footer_fb" class="button"><img src="/assets/images/mobile/goto_fb.png"></a>
        <p class="footer_text">© 2017 About Inc. -- All Rights Reserved.</a>
    </div>
</div>