<!-- activity的js部分 -->
<script>
  $(document).ready(function() {
    var create = 0;
    var id;
    
    // var activityID = this.getAttribute('activity');

    $("#activitySubmit").on("click",function(){
      var $CardBoard = $($(this).parents()[2]);
      if(create==0){
        $.ajax({
          url: "/activities/create",
          type: "POST",
          data: $CardBoard.find(".activityForm").serialize().replace(/\%2F/g, "S"),
          success: function(response) {
            console.log(response);
            if (!response.error) {
              id = response;
              create = 1;
              var $hasCover = $CardBoard.find('input[name="cover"]');
              console.log($hasCover.val());
              if($hasCover.val() != ""){
                var cover = $hasCover[0].files[0];
                if(cover.type == "image/png" || cover.type == "image/jpeg"){
                  var formData = new FormData($CardBoard.find('.activityCoverForm')[0]);
                  $.ajax({
                    url: "/activities/upload/"+id,
                    type: "POST",
                    data:formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                      if (response == "ok") {
                        toastr.success("創立成功");
                        setTimeout(function(){
                          window.location.href="/panel?openPage=backstage_activity_manage";
                        },3000);
                      }
                      else {
                        $CardBoard.find('.errormsg').empty();
                        for(var i in response["error"]){
                          $CardBoard.find('.errormsg').append(`<p>${response["error"][i]}</p>`);
                        }
                      }
                    }
                  });
                }
                else{
                  alert("請上傳jpg或png");
                }
              }else{
                toastr.success("創立成功");
                setTimeout(function(){
                  window.location.href="/panel?openPage=backstage_activity_manage";
                },3000);
              }
            }
            else {
              $CardBoard.find('.errormsg').empty();
              for(var i in response["error"]){
                $CardBoard.find('.errormsg').append(`<p>${response["error"][i]}</p>`);
              }
            }
          }
        });
      }else{
        var cover = $hasCover[0].files[0];
        if(cover.type == "image/png" || cover.type == "image/jpeg"){
          var formData = new FormData($CardBoard.find('.activityCoverForm')[0]);
          $.ajax({
            url: "/activities/upload/"+id,
            type: "POST",
            data:formData,
            contentType: false,
            processData: false,
            success: function(response) {
              if (response == "ok") {
                toastr.success("創立成功");
                setTimeout(function(){
                  window.location.href="/panel?openPage=backstage_activity_manage";
                },3000);
              }
              else {
                $CardBoard.find('.errormsg').empty();
                for(var i in response["error"]){
                  $CardBoard.find('.errormsg').append(`<p>${response["error"][i]}</p>`);
                }
              }
            }
          });
        }
        else{
          alert("請上傳jpg或png");
        }
      }
    });

    // $(".activityUpdate").on("click",function(){
    //   $.ajax({
    //     url: "/activities/update/" + this.getAttribute('activity'),
    //     type: "POST",
    //     data: $("#" + this.getAttribute('activity') + " .activityForm").serialize().replace(/\%2F/g, "S"),
    //     success: function(response) {
    //       toastr.success("儲存成功");
    //       setTimeout(function(){
    //         window.location.href="/panel?openPage=backstage_activity_manage";
    //       },3000);
    //     }
    //   });
    // });

    $(".activityUpdate").on("click",function(){
      var $CardBoard = $($(this).parents()[2]);
      var activityID = this.getAttribute('activity');
      console.log($("#" + activityID + " .activityForm").serialize().replace(/\%2F/g, "S"));
      $.ajax({
        url: "/activities/update/" + activityID,
        type: "POST",
        data: $("#" + activityID + " .activityForm").serialize().replace(/\%2F/g, "S"),
        success: function(response) {
          if (response == "ok") {
            var $hasCover = $CardBoard.find('input[name="cover"]')
            if($hasCover.val()!=""){
              var cover = $hasCover[0].files[0];
              if(cover.type == "image/png" || cover.type == "image/jpeg"){
                var formData = new FormData($CardBoard.find('.activityCoverForm')[0]);
                $.ajax({
                  url: "/activities/upload/" + activityID,
                  type: "POST",
                  data:formData,
                  contentType: false,
                  processData: false,
                  success: function(response) {
                    if (response == "ok") {
                      toastr.success("更新成功");
                      setTimeout(function(){
                        window.location.href="/panel?openPage=backstage_activity_manage";
                      },3000);
                    }
                    else {
                      $CardBoard.find('.errormsg').empty();
                      for(var i in response["error"]){
                        $CardBoard.find('.errormsg').append(`<p>${response["error"][i]}</p>`);
                      }
                    }
                  }
                });
              }else{
                alert("請上傳jpg或png檔案");
              }
            }else{
              toastr.success("更新成功");
              setTimeout(function(){
                window.location.href="/panel?openPage=backstage_activity_manage";
              },3000);
            }
          }
          else {
            $CardBoard.find('.errormsg').empty();
            for(var i in response["error"]){
              $CardBoard.find('.errormsg').append(`<p>${response["error"][i]}</p>`);
            }
          }
        }
      });
    });

    $('.delActivity').on('click', function(){
      var id = this.getAttribute('activity');
      $.ajax({
        url: "/activities/delete/"+id,
        type: "DELETE",
        success: function(response) {
          if(response=="ok"){
            toastr.success("刪除成功");
            $("tr[activity=" + id + "]").remove();
          }
        }
      });
    });
  });
</script>