<!-- project的js部分 -->
<script>
  $(document).ready(function(){
    var create = 0;
    var id;

    // 新增project
    $("#projectSubmit").on("click",function(){
      if(create==0){
        $.ajax({
          url: "/projects/create",
          type: "POST",
          data: $("#projectForm").serialize().replace(/\%2F/g, "S"),
          success: function(response) {
            console.log("success");
            if (!response.error) {
              id = response;
              create = 1;
              if($("#cover").val()!=""){
                var cover = $("#cover")[0].files[0];
                if(cover.type == "image/png" || cover.type == "image/jpeg"){
                  var formData = new FormData($("#projectCoverForm")[0]);
                  $.ajax({
                    url: "/projects/upload/"+id,
                    type: "POST",
                    data:formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                      if (response == "ok") {
                        toastr.success("創立成功");
                        setTimeout(function(){
                          window.location.href="/panel?openPage=backstage_project_manage";
                        },3000);
                      }
                      else {
                        $("#projectCoverForm .errormsg").empty();
                        for(var i in response["error"]){
                          $("#projectCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
                        }
                      }
                    }
                  });
                }else{
                  alert("請上傳jpg或png檔案");
                }
              }else{
                toastr.success("創立成功");
                setTimeout(function(){
                  window.location.href="/panel?openPage=backstage_project_manage";
                },3000);
              }
            }
            else {
              $("#projectCoverForm .errormsg").empty();
              for(var i in response["error"]){
                $("#projectCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
              }
            }
          }
        });
      }
      else{
        var cover = $("#cover")[0].files[0];
        if(cover.type == "image/png" || cover.type == "image/jpeg"){
          var formData = new FormData($("#projectCoverForm")[0]);
          $.ajax({
            url: "/projects/upload/"+id,
            type: "POST",
            data:formData,
            contentType: false,
            processData: false,
            success: function(response) {
              if (response == "ok") {
                toastr.success("創立成功");
                setTimeout(function(){
                  window.location.href="/panel?openPage=backstage_project_manage";
                },3000);
              }
              else {
                $("#projectCoverForm .errormsg").empty();
                for(var i in response["error"]){
                  $("#projectCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
                }
              }
            }
          });
        }
        else{
          alert("請上傳jpg或png檔案");
        }
      }
    });

    // 編輯project
    $(".projectUpdate").on("click",function(){
      $.ajax({
        url: "/projects/update/" + this.getAttribute('projects'),
        type: "POST",
        data: $("#" + this.getAttribute('projects') + " .form").serialize().replace(/\%2F/g, "S"),
        success: function(response) {
          toastr.success("儲存成功");
          setTimeout(function(){
            window.location.href="/panel?openPage=backstage_project_manage";
          },3000);
        }
      });
    });
    // 刪除project
    $('.delproject').on('click', function(){
      var id = this.getAttribute('projects');
      $.ajax({
        url: "/projects/delete/"+id,
        type: "DELETE",
        success: function(response) {
          if(response=="ok"){
            toastr.success("刪除成功");
            $("tr[projects=" + id + "]").remove();
          }
        }
      });
    });

    // 找出project member資訊
    $('a[data-tab="project_edit_member"]').on('click', function(){
      var id = this.getAttribute('projects');

      var loading = '<div class="ui segment" style="height: 300px;"><div class="ui active inverted dimmer"><div class="ui massive text loader">Loading</div></div><p></p></div>';
      $('#' + id + ' > div[data-tab="project_edit_member"]').append(loading); // 顯示loading
      
      $.ajax({
        url: "/panel/projectMember/" + id,
        type: "POST",
        success: function(res) {
          $('#' + id + ' > div[data-tab="project_edit_member"]')[0].innerHTML = ''; // 清空loading的內容
          $('#' + id + ' > div[data-tab="project_edit_member"]').append(res);
        }
      });
    });


// $("#project_selectAdmin").dropdown({
//   apiSettings: {
//         response: {
//           "success": true,
//           "results": [
//             {
//               // name displayed in dropdown
//               "name"  : "Choice 1",
//                // selected value
//               "value" : "value1",
//             },
//             {
//               "name"  : "Choice 2",
//               "value" : "value2",
//               "text"  : "Choice 2"
//             },
//             {
//               "name"  : "Choice 3",
//               "value" : "value3",
//               "text"  : "Choice 3"
//             },
//             {
//               "name"  : "Choice 4",
//               "value" : "value4",
//               "text"  : "Choice 4"
//             },
//             {
//               "name"  : "Choice 5",
//               "value" : "value5",
//               "text"  : "Choice 5"
//             }
//           ]
//         }
//       },
//       saveRemoteData: false,
//       fullTextSearch: 'exact',
//       direction: 'auto',
//       debug: true
// });
    // $('.ui.search').search({
    //   type: 'category',
    //   minCharacters: 1,
    //   maxResults: 1, // 一次顯示10筆
    //   apiSettings: {
    //     url: '/search?query={query}',
    //     onResponse: function(results){
    //       console.log(results);
    //       return {results};
    //     }
    //   }
    // });

  });
</script>