<!-- project的js部分 -->
<script>
  $(document).ready(function(){
    // 找出project member資訊
    $('a[data-tab="project_edit_member"]').on('click', function(){
      var id = this.getAttribute('projects');

      var loading = '<div class="ui segment" style="height: 300px;"><div class="ui active inverted dimmer"><div class="ui massive text loader">Loading</div></div><p></p></div>';
      $('#' + id + ' > div[data-tab="project_edit_member"]').append(loading); // 顯示loading
      
      $.ajax({
        url: "/panel/projectMember/" + id,
        type: "POST",
        success: function(res) {
          $('#' + id + ' > div[data-tab="project_edit_member"]')[0].innerHTML = ''; // 清空loading的內容
          $('#' + id + ' > div[data-tab="project_edit_member"]').append(res);
        }
      });
    });

    $('.ui.ProjectCalendar').calendar({
      constantHeight: true,
      type: 'date',
      onChange: function(date, text, mode){
        $(this).parent().find('input[name="Time"]').val(date.getTime());
      }
    });

// $("#project_selectAdmin").dropdown({
//   apiSettings: {
//         response: {
//           "success": true,
//           "results": [
//             {
//               // name displayed in dropdown
//               "name"  : "Choice 1",
//                // selected value
//               "value" : "value1",
//             },
//             {
//               "name"  : "Choice 2",
//               "value" : "value2",
//               "text"  : "Choice 2"
//             },
//             {
//               "name"  : "Choice 3",
//               "value" : "value3",
//               "text"  : "Choice 3"
//             },
//             {
//               "name"  : "Choice 4",
//               "value" : "value4",
//               "text"  : "Choice 4"
//             },
//             {
//               "name"  : "Choice 5",
//               "value" : "value5",
//               "text"  : "Choice 5"
//             }
//           ]
//         }
//       },
//       saveRemoteData: false,
//       fullTextSearch: 'exact',
//       direction: 'auto',
//       debug: true
// });
    // $('.ui.search').search({
    //   type: 'category',
    //   minCharacters: 1,
    //   maxResults: 1, // 一次顯示10筆
    //   apiSettings: {
    //     url: '/search?query={query}',
    //     onResponse: function(results){
    //       console.log(results);
    //       return {results};
    //     }
    //   }
    // });

  });
</script>