<% layout('../public/layout') %>
<div class="ui centered grid" style="padding-top:50px;">
  <div class="ten wide tablet six wide computer column">
    <h1>Create project</h1>
    <form class="ui form" id="projectCoverForm">
      <div class="field">
        <div class="errormsg"></div>
      </div>
      <div class="field">
        <label>Photo</label>
        <input type="file" name="cover" id="cover">
      </div>
    </form>
    <form class="ui form" id="projectForm">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div class="field">
        <label>Goal</label>
        <input type="text" name="goal" placeholder="Goal">
      </div>
      <div class="field">
        <label>Need</label>
        <input type="text" name="need" placeholder="Need 請用,分隔">
      </div>
      <div class="field">
        <label>Time</label>
        <input type="text" name="time" placeholder="Time">
      </div>
      <div class="field">
        <label>Type</label>
        <select class="ui fluid dropdown" name="type">
          <option value="文化生活">文化生活</option>
          <option value="智慧科技與數位內容">智慧科技與數位內容</option>
          <option value="創新與社會服務">創新與社會服務</option>
        </select>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea name="description" placeholder="Description"></textarea>
      </div>
      <% if(typeof group_id !== "undefined"){ %>
        <input type="hidden" name="group_id" value="<%= group_id %>">
      <% } %>
      <div class="ui button" id="projectSubmit">Create</div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function(){
    var create = 0;
    var id;
    $("#projectSubmit").on("click",function(){
      if(create==0){
        $.ajax({
          url: "/projects/create",
          type: "POST",
          data: $("#projectForm").serialize(),
          success: function(response) {
            if (!response.error) {
              id = response;
              create = 1;
              if($("#cover").val()!=""){
                var cover = $("#cover")[0].files[0];
                if(cover.type == "image/png" || cover.type == "image/jpeg"){
                  var formData = new FormData($("#projectCoverForm")[0]);
                  $.ajax({
                    url: "/projects/upload/"+id,
                    type: "POST",
                    data:formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                      if (response == "ok") {
                        toastr.success("創立成功");
                        setTimeout(function(){
                          window.location.href="/projects";
                        },3000);
                      }
                      else {
                        $("#projectCoverForm .errormsg").empty();
                        for(var i in response["error"]){
                          $("#projectCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
                        }
                      }
                    }
                  });
                }else{
                  alert("請上傳jpg或png檔案");
                }
              }else{
                toastr.success("創立成功");
                setTimeout(function(){
                  window.location.href="/projects";
                },3000);
              }
            }
            else {
              $("#projectCoverForm .errormsg").empty();
              for(var i in response["error"]){
                $("#projectCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
              }
            }
          }
        });
      }
      else{
        var cover = $("#cover")[0].files[0];
        if(cover.type == "image/png" || cover.type == "image/jpeg"){
          var formData = new FormData($("#projectCoverForm")[0]);
          $.ajax({
            url: "/projects/upload/"+id,
            type: "POST",
            data:formData,
            contentType: false,
            processData: false,
            success: function(response) {
              if (response == "ok") {
                toastr.success("創立成功");
                setTimeout(function(){
                  window.location.href="/projects";
                },3000);
              }
              else {
                $("#projectCoverForm .errormsg").empty();
                for(var i in response["error"]){
                  $("#projectCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
                }
              }
            }
          });
        }
        else{
          alert("請上傳jpg或png檔案");
        }
      }
    });
  });
</script>
