<% layout('../public/layout') %>
<div class="ui centered grid" style="padding-top:50px;">
  <div class="ten wide tablet six wide computer column">
    <form class="ui form" id="loginForm">
      <div class="field">
        <div id="errormsg"></div>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" name="userid" placeholder="Email">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="ui button" id="loginSubmit">Submit</div>
      <a class="ui button" href="/users/fblogin">FB Login</a>
    </form>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#loginSubmit").on("click",function(){
      if($("input[name=userid]").val()!=""){
        $.ajax({
          url: "/users/auth",
          type: "POST",
          data: $("#loginForm").serialize(),
          success: function(response) {
            if (response == "ok") {
              window.location.href="/";
            }
            else {
              $("#errormsg").empty();
              $("#errormsg").append(response["error"])
            }
          }
        });
      }
    });
  });
</script>
