<!-- <form class="ui form" id="searchPeople" style="display: none; margin-top: 10px">
  <div class="ui multiple selection dropdown">
    <input name="states" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Skill</div>
    <div class="menu">
      <div class="item" data-value="AL">Alabama</div>
      <div class="item" data-value="AK">Alaska</div>
      <div class="item" data-value="AZ">Arizona</div>
      <div class="item" data-value="AR">Arkansas</div>
      <div class="item" data-value="CA">California</div>
      <div class="item" data-value="OH">Ohio</div>
      <div class="item" data-value="OK">Oklahoma</div>
      <div class="item" data-value="OR">Oregon</div>
      <div class="item" data-value="PA">Pennsylvania</div>
      <div class="item" data-value="RI">Rhode Island</div>
      <div class="item" data-value="SC">South Carolina</div>
      <div class="item" data-value="SD">South Dakota</div>
      <div class="item" data-value="TN">Tennessee</div>
      <div class="item" data-value="TX">Texas</div>
      <div class="item" data-value="UT">Utah</div>
      <div class="item" data-value="VT">Vermont</div>
      <div class="item" data-value="VA">Virginia</div>
      <div class="item" data-value="WA">Washington</div>
      <div class="item" data-value="WV">West Virginia</div>
      <div class="item" data-value="WI">Wisconsin</div>
      <div class="item" data-value="WY">Wyoming</div>
    </div>
  </div>
</form> -->