<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CHUB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/assets/js/semantic.min.js"></script>
    <script src="/assets/js/toastr.min.js"></script>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/search.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <div class="ui inverted segment" style="padding-bottom: 0px;padding-top: 0px;border-radius: 0px;">
        <div class="ui secondary pointing menu">
            <a href="/" class="item" id="logo">
                <img style="width:30px;" src="/assets/images/logo-white.png">
            </a>
            <a class="item" style="color: white;"><h1>後台管理系統</h1></a>
        </div>
    </div>
    <div class="ui stackable grid" style="padding-top:50px;">
      <div class="four wide column">
        <div class="ui secondary vertical pointing menu styled accordion">
          <a class="item" href="panel/abouts">
            關於簡介管理
          </a>
          <div class="title">
            <i class="dropdown icon"></i>
            人才
          </div>
          <div class="content">
            <a class="item" href="/panel/users">
              人才資料庫管理
            </a>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            專案
          </div>
          <div class="content">
            <a class="item" href="/projects/new">
              新增專案
            </a>
            <a class="item" href="/panel/projects">
              專案管理
            </a>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            團隊
          </div>
          <div class="content">
            <a class="item" href="/groups/new">
              新增團隊
            </a>
            <a class="item" href="/panel/groups">
              團隊訊息
            </a>
            <a class="item" href="/panel/groups">
              團隊管理
            </a>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            活動
          </div>
          <div class="content">
            <a class="item" href="/activities/new">
              新增活動
            </a>
            <a class="item">
              活動管理
            </a>
          </div>
        </div>
      </div>
      <div class="ten wide column">
        <%- body %>
      </div>
    </div>
</body>
