<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CHUB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/assets/js/semantic.min.js"></script>
  <script src="/assets/js/semantic_setting.js"></script>
  <script src="/assets/js/sidebar.js"></script>
  <script src="/assets/js/login.js"></script>
  <script src="/assets/js/search.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <div class="ui inverted segment" style="padding-bottom: 0px;padding-top: 0px;border-radius: 0px;">
    <div class="ui secondary pointing menu">
      <a href="/" class="item" id="logo">
        <img style="width:30px;" src="/assets/images/logo-white.png">
      </a>
      <a class="item" style="color: white;"><h1>後台管理系統</h1></a>
    </div>
  </div>
  <div class="ui grid" style="padding-top:50px;">
    <div class="ten wide tablet six wide computer column">
      <div class="ui secondary vertical pointing menu">
        <a class="item active">
          關於簡介管理
        </a>
        <a class="item">
          人才資料庫管理
        </a>
        <a class="item">
          團隊管理
        </a>
        <a class="item" href="/panel/projects">
          專案管理
        </a>
        <a class="item">
          活動管理
        </a>
        <a class="item">
          空間管理
        </a>
        <a class="item">
          網站數據分析
        </a>
      </div>
    </div>
    <div class="six wide tablet ten wide computer column">
      <%- body %>
    </div>
  </div>
</body>
