<div class="footer_top"></div>
<div class="footer_center">
  <div class="footer_element" id="footer_logo">
    <img id="chub_full_logo" src="/assets/images/chub_full_logo.png">
  </div>
  <div class="footer_element" id="footer_about">
    <a class="element_title" href="/about">About</a>
    <a class="element_cont" href="/about">Intro</a>
    <a class="element_cont" href="/about">contact to us</a>
    <!-- <a class="element_cont">People in C-Hub</a> -->
  </div>
  <div class="footer_element" id="footer_whats_on">
    <a class="element_title" href="/whaton">What's On</a>
    <a class="element_cont" href="/whaton">News</a>
  </div>
  <!-- <div class="footer_element" id="footer_people">
    <p class="element_title">People</p>
    <a class="element_cont">Search</a>
    <a class="element_cont">Member List</a>
  </div> -->
  <!-- <div class="footer_element" id="footer_group">
    <p class="element_title">Group</p>
    <a class="element_cont">Search</a>
    <a class="element_cont">Group List</a>
  </div> -->
  <div class="footer_element" id="footer_project">
    <p class="element_title" href="/projects">Project</p>
    <!-- <a class="element_cont">Search</a> -->
    <a class="element_cont" href="/projects">All Projects</a>
    <!-- <a class="element_cont">文化生活</a> -->
    <!-- <a class="element_cont">智慧科技與數位內容</a> -->
    <!-- <a class="element_cont">創新與社會服務</a> -->
  </div>
  <div class="footer_element" id="footer_activity">
    <p class="element_title" href="/activities">Activity</p>
    <!-- <a class="element_cont">Search</a> -->
    <a class="element_cont" href="/activities">All Activities</a>
    <a class="element_cont" href="/activities">Workshop</a>
    <a class="element_cont" href="/activities">Forum</a>
    <a class="element_cont" href="/activities">Exhibition</a>
  </div>
  <div class="footer_element" id="footer_space">
    <p class="element_title" href="/space">Space</p>
    <a class="element_cont" href="/space">What's Available</a>
    <a class="element_cont" href="/space">Book a Date</a>
  </div>
</div>
<div class="footer_bottom">
  <img id="chub_fb" src="/assets/images/chub_fb.png" onclick="window.open('https://www.facebook.com/chub.tainan/')">
  <p class="copyright">Address: 台南市大學路一號（成功大學光復校區 小東路與前鋒路交叉口）</p>
  <p class="copyright">T: 06-2757575 ext. 50239, 06-2360426, 06-2004230</p>
  <p class="copyright">Email: chub.ncku@gmail.com</p>
</div>
