<div class="footer_top"></div>
<div class="footer_center">
  <div class="footer_element" id="footer_logo">
    <img id="chub_full_logo" src="/assets/images/chub_full_logo.png">
  </div>
  <div class="footer_element" id="footer_about">
    <a class="element_title">About</a>
    <a class="element_cont">Intro</a>
    <a class="element_cont">contact to us</a>
    <!-- <a class="element_cont">People in C-Hub</a> -->
  </div>
  <div class="footer_element" id="footer_whats_on">
    <a class="element_title">What's On</a>
    <a class="element_cont">News</a>
  </div>
  <!-- <div class="footer_element" id="footer_people">
    <p class="element_title">People</p>
    <a class="element_cont">Search</a>
    <a class="element_cont">Member List</a>
  </div> -->
  <!-- <div class="footer_element" id="footer_group">
    <p class="element_title">Group</p>
    <a class="element_cont">Search</a>
    <a class="element_cont">Group List</a>
  </div> -->
  <div class="footer_element" id="footer_project">
    <p class="element_title">Project</p>
    <!-- <a class="element_cont">Search</a> -->
    <a class="element_cont">All Projects</a>
    <!-- <a class="element_cont">文化生活</a> -->
    <!-- <a class="element_cont">智慧科技與數位內容</a> -->
    <!-- <a class="element_cont">創新與社會服務</a> -->
  </div>
  <div class="footer_element" id="footer_activity">
    <p class="element_title">Activity</p>
    <!-- <a class="element_cont">Search</a> -->
    <a class="element_cont">All Activities</a>
    <a class="element_cont">Workshop</a>
    <a class="element_cont">Forum</a>
    <a class="element_cont">Exhibition</a>
  </div>
  <div class="footer_element" id="footer_space">
    <p class="element_title">Space</p>
    <a class="element_cont">What's Available</a>
    <a class="element_cont">Book a Date</a>
  </div>
</div>
<div class="footer_bottom">
  <img id="chub_fb" src="/assets/images/chub_fb.png" onclick="window.open('https://www.facebook.com/chub.tainan/')">
  <p class="copyright">© 2017 About Inc. — All Rights Reserved.</p>
</div>
