<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CHUB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/assets/js/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <script src='//chub.checkfront.com/lib/interface--30.js'></script>
</head>
<body>
  <div id="app">
    <div class="ui secondary pointing menu">
      <a href="/" class="item" id="logo">
        <img style="width:50px;" src="/assets/images/logo.jpg">
      </a>
      <a href="/about" class="item">
        About
      </a>
      <a href="/users" class="item">
        People
      </a>
      <a href="/groups" class="item">
        Group
      </a>
      <a href="/projects" class="item">
        Project
      </a>
      <a href="/activities" class="item">
        Activity
      </a>
      <a href="/space" class="item">Space</a>
      <% if(typeof me !== "undefined" ){ %>
        <a href="/users/logout" class="item">Logout</a>
      <% }else{ %>
        <a href="/users/login" class="item">Login</a>
        <a href="/users/signup" class="item">Sign Up</a>
      <% } %>
    </div>
  </div>
  <%- body %>
</body>
</html>
