<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CHUB</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- Framework's js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_toastr.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_semantic.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_jquery.fullPage.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_syncscroll.js"></script>
  <script type="text/javascript" src="/assets/js/framework_client.min.js"></script>
  <!-- Customize js -->
  <script type="text/javascript">
    var Mobile = false;
  </script>
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/background.js"></script>
  <script src="/assets/js/sidebar.js"></script>
  <script src="/assets/js/search.js"></script>
  <script src="/assets/js/check_browser.js"></script>
  <!-- Framework's css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/framework_toastr.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="/assets/css/framework_semantic.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/assets/css/framework_jquery.fullPage.css">
  <!-- Customize css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/common_reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_menu.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_sidebar.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_background.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_footer.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_style.css">


  <script src="/assets/js/pace.min.js"></script>
  <link href="/assets/css/pace.css" rel="stylesheet" />
	<script src="/assets/js/progressive-image.min.js"></script>
	<link rel="stylesheet" href="/assets/css/progressive-image.min.css">
</head>
<body>
  <div class="background">
    <div class="bottom"></div>
    <div class="cover"></div>
    <div class="project_cover"></div>
    <div class="sidebar_cover"></div>
    <div class="halfscreen_cover"></div>
    <div class="activity_cover"></div>
    <div class="whatOn_cover"></div>
    <div class="loading_cover">
    	<div style="width: 30vh;display: block;margin: auto;margin-top: 10vh;">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.73 269.23" style=""><defs><style>.cls-1,.cls-2,.cls-3,.cls-4{fill:none;stroke:#eb8f36;stroke-miterlimit:10;}.cls-1{stroke-width:8.84px;}.cls-2{stroke-width:2.21px;}.cls-3{stroke-width:3.3px;}.cls-4{stroke-width:3px;}</style></defs><title>è³ç¢ 3</title><g id="åå±¤_2" data-name="åå±¤ 2"><g id="åå±¤_2-2" data-name="åå±¤ 2"><path class="cls-1 dnFBNrkX_0" d="M204,102.2a85.2,85.2,0,1,1-39-84.76"></path><path class="cls-2 dnFBNrkX_1" d="M125.82,67.2a27.74,27.74,0,0,1,11.28,3.2c-.59-1.47-1.23-3-2-4.52L117.19,30.65l-7.9,4Z"></path><path class="cls-2 dnFBNrkX_2" d="M115.54,74.93c-6.19,2.64-12.19,7.13-14.91,13.45-.66-1.05-1.32-2.1-1.95-3.34L80.52,49.28l-7.89,4L90.7,88.87a42.39,42.39,0,0,0,8.45,11.78,21.17,21.17,0,0,0,20.61,5.28,30.31,30.31,0,0,0,5.75-2.26c.17-.08.31-.19.48-.27a15.21,15.21,0,0,0,4.66-3,23,23,0,0,0,7.31-9c.66,1.07,1.33,2.11,2,3.35l18.16,35.77,7.89-4L147.88,90.86A43.54,43.54,0,0,0,139.43,79,21.94,21.94,0,0,0,115.54,74.93Zm11.86,17.19a8.08,8.08,0,1,1-5.24-10.06A8,8,0,0,1,127.41,92.12Z"></path><path class="cls-2 dnFBNrkX_3" d="M101.57,109.51c.56,1.42,1.19,2.85,1.95,4.33l17.89,35.23,7.89-4-16.37-32.22A30.82,30.82,0,0,1,101.57,109.51Z"></path><path class="cls-3 dnFBNrkX_4" d="M43.8,214.49H27.95a26.3,26.3,0,0,0,0,52.6H43.8"></path><path class="cls-4 dnFBNrkX_5" d="M58.08,239.73L81.08,239.73"></path><path class="cls-4 dnFBNrkX_6" d="M92.58,269.23L92.58,243.23"></path><path class="cls-4 dnFBNrkX_7" d="M92.58,211.23L92.58,243.23"></path><path class="cls-4 dnFBNrkX_8" d="M136.58,243.23L136.58,269.23"></path><path class="cls-4 dnFBNrkX_9" d="M136.58,211.23L136.58,243.23"></path><path class="cls-4 dnFBNrkX_10" d="M135.08,239.73L93.08,239.73"></path><path class="cls-4 dnFBNrkX_11" d="M148.58,226.23v22c0,10.4,7.66,18.84,18.06,18.84s17.94-8.58,17.94-19v21.18"></path><path class="cls-3 dnFBNrkX_12" d="M200.4,248.33A18.84,18.84 0,1,1 238.08,248.33A18.84,18.84 0,1,1 200.4,248.33"></path><path class="cls-4 dnFBNrkX_13" d="M200.58,269.23L200.58,211.23"></path></g></g><style>.dnFBNrkX_0{stroke-dasharray:437 439;stroke-dashoffset:438;animation:dnFBNrkX_draw_0 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_1{stroke-dasharray:102 104;stroke-dashoffset:103;animation:dnFBNrkX_draw_1 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_2{stroke-dasharray:359 361;stroke-dashoffset:360;animation:dnFBNrkX_draw_2 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_3{stroke-dasharray:102 104;stroke-dashoffset:103;animation:dnFBNrkX_draw_3 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_4{stroke-dasharray:115 117;stroke-dashoffset:116;animation:dnFBNrkX_draw_4 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_5{stroke-dasharray:23 25;stroke-dashoffset:24;animation:dnFBNrkX_draw_5 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_6{stroke-dasharray:27 29;stroke-dashoffset:28;animation:dnFBNrkX_draw_6 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_7{stroke-dasharray:32 34;stroke-dashoffset:33;animation:dnFBNrkX_draw_7 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_8{stroke-dasharray:27 29;stroke-dashoffset:28;animation:dnFBNrkX_draw_8 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_9{stroke-dasharray:32 34;stroke-dashoffset:33;animation:dnFBNrkX_draw_9 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_10{stroke-dasharray:42 44;stroke-dashoffset:43;animation:dnFBNrkX_draw_10 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_11{stroke-dasharray:102 104;stroke-dashoffset:103;animation:dnFBNrkX_draw_11 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_12{stroke-dasharray:119 121;stroke-dashoffset:120;animation:dnFBNrkX_draw_12 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}.dnFBNrkX_13{stroke-dasharray:59 61;stroke-dashoffset:60;animation:dnFBNrkX_draw_13 3400ms ease-in-out 0ms infinite,dnFBNrkX_fade 3400ms linear 0ms infinite;}@keyframes dnFBNrkX_draw{100%{stroke-dashoffset:0;}}@keyframes dnFBNrkX_fade{0%{stroke-opacity:1;}88.23529411764706%{stroke-opacity:1;}100%{stroke-opacity:0;}}@keyframes dnFBNrkX_draw_0{14.705882352941178%{stroke-dashoffset: 438}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_1{14.705882352941178%{stroke-dashoffset: 103}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_2{14.705882352941178%{stroke-dashoffset: 360}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_3{14.705882352941178%{stroke-dashoffset: 103}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_4{14.705882352941178%{stroke-dashoffset: 116}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_5{14.705882352941178%{stroke-dashoffset: 24}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_6{14.705882352941178%{stroke-dashoffset: 28}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_7{14.705882352941178%{stroke-dashoffset: 33}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_8{14.705882352941178%{stroke-dashoffset: 28}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_9{14.705882352941178%{stroke-dashoffset: 33}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_10{14.705882352941178%{stroke-dashoffset: 43}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_11{14.705882352941178%{stroke-dashoffset: 103}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_12{14.705882352941178%{stroke-dashoffset: 120}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes dnFBNrkX_draw_13{14.705882352941178%{stroke-dashoffset: 60}44.11764705882353%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}</style></svg>
    	</div>

    </div>
  </div>
  <div id="menu">
    <% include ./menu %>
    <!-- < include ./mainSidebar >
    < include ./msgSidebar >
    < include ./searchSidebar > -->
  </div>
  <div class="sidebar"><% include ./sidebar %></div>
  <div id="main">
    <%- body %>
  </div>
  <!-- 第二層浮動視窗 -->
  <div class="float_window no_menu"></div> 

  <script type="text/javascript">
		Pace.on("done", function(){
				$("svg").hide();
		    $(".loading_cover").fadeOut(2000);
		});
  </script>
  
</body>
</html>
