<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CHUB</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- Framework's js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_toastr.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_semantic.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_jquery.fullPage.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_syncscroll.js"></script>
  <script type="text/javascript" src="/assets/js/framework_client.min.js"></script>
  <!-- Customize js -->
  <script type="text/javascript">
    var Mobile = false;
  </script>
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/background.js"></script>
  <script src="/assets/js/sidebar.js"></script>
  <script src="/assets/js/search.js"></script>
  <script src="/assets/js/check_browser.js"></script>
  <!-- Framework's css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/framework_toastr.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/framework_semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/framework_jquery.fullPage.css">
  <!-- Customize css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/common_reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_menu.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_sidebar.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_background.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_footer.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_style.css">


  <!-- <script src="/assets/js/pace.min.js"></script> -->
  <!-- <link href="/assets/css/pace.css" rel="stylesheet" /> -->
</head>
<body>
  <div class="background">
    <div class="bottom"></div>
    <div class="cover"></div>
    <div class="project_cover"></div>
    <div class="sidebar_cover"></div>
    <div class="halfscreen_cover"></div>
    <div class="activity_cover"></div>
    <div class="whatOn_cover"></div>
    <div class="loading_cover"></div>
  </div>
  <div id="menu">
    <% include ./menu %>
    <!-- < include ./mainSidebar >
    < include ./msgSidebar >
    < include ./searchSidebar > -->
  </div>
  <div class="sidebar"><% include ./sidebar %></div>
  <div id="main">
    <%- body %>
  </div>
  <!-- 第二層浮動視窗 -->
  <div class="float_window no_menu"></div> 

  <script type="text/javascript">
		// Pace.on("done", function(){
		    $(".loading_cover").fadeOut(2000);
		// });
  </script>
  
</body>
</html>
