<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CHUB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Framework's js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_toastr.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_semantic.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_jquery.fullPage.min.js"></script>
  <script type="text/javascript" src="/assets/js/framework_syncscroll.js"></script>
  <!-- Customize js -->
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/background.js"></script>
  <script src="/assets/js/sidebar.js"></script>
  <script src="/assets/js/login.js"></script>
  <script src="/assets/js/search.js"></script>
  <!-- Framework's css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/framework_toastr.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/framework_semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/framework_jquery.fullPage.css">
  <!-- Customize css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/common_reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_style.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_menu.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_sidebar.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_background.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common_footer.css">
</head>
<body>
  <div class="background">
    <div class="bottom"></div>
    <div class="cover"></div>
    <div class="project_cover"></div>
    <div class="sidebar_cover"></div>
  </div>
  <div id="menu">
    <% include ./menu %>
    <!-- < include ./mainSidebar >
    < include ./msgSidebar >
    < include ./searchSidebar > -->
  </div>
  <div class="sidebar"><% include ./sidebar %></div>
  <div id="main">
    <%- body %>
  </div>
  <!-- 偵測行動裝置 -->
  <!-- <script type="text/javascript">
  $(document).ready(function() {
    if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        alert("目前手機版建置中.....");
        window.location = 'https://google.com.tw';
    }
    else {
        console.log("使用桌上型裝置!");
    }
  });
  </script> -->
</body>
</html>
