<div id="loginPart">
  <h1>登入</h1>
  <form class="ui form" id="loginForm">
    <div class="field">
      <div class="errormsg"></div>
    </div>
    <div class="field">
      <p>Email or ID</p>
      <input type="text" name="userid" placeholder="Email or ID">
    </div>
    <div class="field">
      <p>Password</p>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div style="display: flex; justify-content: space-around;">
      <a class="ui button" id="loginSubmit" style="width: 100%;">LogIn</a>
      <a class="ui button" href="/users/fblogin" style="width: 100%">FB Login</a>
    </div>
    <div style="display: flex; justify-content: space-around; margin-top: 13px; align-items: baseline;">
      <!--
      <div class="ui checkbox" style="width: 100%;">
        <input type="checkbox" name="rememberUser">
        <label style="color: white;">Remember me</label>
      </div>
      -->
      <div class="ui button" id="forgetbtn" style="width: 85%;">忘記密碼</div>
    </div>
    <div style="display: flex; justify-content: space-around;">
      <a class="ui button" id="signupbtn" style="width: 100%; margin-top: 12px;">Register now</a>
    </div>
  </form>
</div>
<div id="signupPart">
  <h1>註冊</h1>
  <form class="ui form" id="signupForm">
      <div class="field">
          <div class="errormsg"></div>
      </div>
      <div class="field">
          <p>Email</p>
          <input type="text" name="email" placeholder="Email">
      </div>
      <div class="field">
          <p>Password</p>
          <input type="password" name="password" placeholder="Password">
      </div>
      <div class="field">
          <p>UserID</p>
          <input type="text" name="userid" placeholder="User ID">
      </div>
      <div class="field">
          <p>Name</p>
          <input type="text" name="username" placeholder="Name">
      </div>
      <div class="ui button" id="signupSubmit">Signup</div>
      <div class="ui button" id="loginbtn">back</div>
  </form>
</div>
