<div class="ui sidebar right inverted vertical menu" id="mainSidebar" style="width: 400px;">
  <div class="ui centered grid" style="padding-top:10px; margin:10px;">
      <% if(!me){ %>
        <% include ./loginForm %>
        <% include ./forgetPw %>
      <% }else{ %>
        <% include ./profile %>
        <% include ./setting %>
      <% } %>
  </div>
</div>


<div class="right_sidebar">
	<div class="side_icon" id="profilebtn">
		<img id="side_profile" src="/assets/images/side_profile.png">
	</div>
  <% if(me){ %>
  	<div class="side_icon" id="msgbtn">
  		<img id="side_message" src="/assets/images/side_message.png">
  	</div>
  <% } %>
	<div class="side_icon searchbtn">
		<img id="side_search" src="/assets/images/side_search.png">
	</div>
</div>

<style>
#searchSidebar.animating.visible ~ #rightSidebar {
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  transition: 0.5s all;
}

#searchSidebar.visible ~ #rightSidebar {
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  transition: 0s all;
}

#searchSidebar.animating:not(visible) ~ #rightSidebar {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  transition: 0.5s all;
}


.ui.vertical.icon.menu{
  position: fixed;
  z-index: 3;
  right: -3px;
}


</style>
