<div class="ui sidebar right inverted vertical menu" id="mainSidebar" style="width: 400px;">
  <div class="ui centered grid" style="padding-top:50px; margin:10px;">
      <% if(!me){ %>
        <% include ./loginForm %>
      <% }else{ %>
        <% include ./profile %>
        <% include ./setting %>
      <% } %>
  </div>
</div>
<!-- <div class="ui black big left attached launch button R">
    <span class="text"></span>
    <a class="item">
      <i class="mail icon"></i>
      Message
    </a>
    <span class="text">search</span>
</div> -->
<div class="ui vertical icon menu inverted" id="rightSidebar">
  <a class="item" id="profilebtn">
    <i class="user icon"></i>
  </a>
  <% if(me){ %>
  <a class="item" id="msgbtn">
    <i class="mail icon"></i>
  </a>
  <% } %>
  <a class="item searchbtn">
    <i class="search icon" ></i>
  </a>
</div>

<style>
#searchSidebar.animating.visible ~ #rightSidebar {
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  transition: 0.5s all;
}

#searchSidebar.visible ~ #rightSidebar {
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  transition: 0s all;
}

#searchSidebar.animating:not(visible) ~ #rightSidebar {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  transition: 0.5s all;
}


.ui.vertical.icon.menu{
  position: fixed;
  z-index: 3;
  right: -3px;
}


</style>
