<div class="ui secondary pointing menu" style="margin-top: 0px;">
  <a href="/" class="item" id="logo">
    <img style="width:50px;" src="/assets/images/logo.jpg">
  </a>
  <a href="/about" class="item">
    About
  </a>
  <a href="/users" class="item">
    People
  </a>
  <a href="/groups" class="item">
    Group
  </a>
  <a href="/projects" class="item">
    Project
  </a>
  <a href="/activities" class="item">
    Activity
  </a>
  <a href="/space" class="item">Space</a>
  <% if(me){ %>
    <a class="item" id="msgbtn">
      Message
    </a>
    <a class="item" id="loginbtn">
      Profile
    </a>
    <a href="/users/logout" class="item">Logout</a>
  <% }else{ %>
    <a class="item" id="loginbtn">
      Login
    </a>
    <a class="item" id="signupbtn">Sign Up</a>
  <% } %>
  <a class="item searchbtn">
    Search
  </a>
</div>
