<div class="ui sidebar right inverted vertical menu" id="msgSidebar" style="width:400px">
  <div class="ui vertical pointing labeled icon menu inverted" id="userSidebar">
    <a class="item">
      <i class="mail icon"></i>
      Message
    </a>
  </div>
  <div class="arrow"></div>
  <ul class="ChatLog">
    <div class="chatCont">
    </div>
    <div id="inputMsg">
      <input type="text" id="msgText"></input>
      <input class="ui blue button" type="botton" value="Send" id="msgSend"></input>
    </div>
  </ul>
</div>

<% if(me){ %>
  <script>
    //登入後立即取得訊息的資料
    $(document).ready(function(){
      $.ajax({
        url: "users/msg",
        method: "GET",
        success: function(req){
          $('.chatCont').append(req);
        }
      });
    })
  </script>
<% } %>

<style>
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #fff;
}

ul.ChatLog {
list-style: none;
}

.ChatLog {
max-width: 20em;
margin: 0 auto;
height: 95vh;
overflow: scroll;
margin-left: 80px;
}
.ChatLog .chatEntry {
margin: .5em;
}

.chatEntry {
  position: relative;
display: flex;
flex-direction: row;
align-items: flex-end;
max-width: 100%;
}

.chatEntry.chatSent {
flex-direction: row-reverse;
}

.avatar {
flex-shrink: 0;
flex-grow: 0;
z-index: 1;
height: 50px;
width: 50px;
border-radius: 25px;
}

.chatEntry.chatSent.avatar {
display: none;
}

.chatEntry .message {
margin: 0 12px;
}

.chatEntry .message::before {
position: absolute;
right: auto;
bottom: .6em;
left: -12px;
height: 0;
content: '';
border: 6px solid transparent;
border-right-color: #ddd;
z-index: 2;
}

.chatEntry.chatSent .message::before {
right: -12px;
bottom: .6em;
left: auto;
border: 6px solid transparent;
border-left-color: #08f;
}

.message {
background-color: #ddd;
padding: .5em;
border-radius: 4px;
font-weight: lighter;
max-width: 70%;
}

.chatEntry.chatSent .message {
border-top: 1px solid #07f;
border-bottom: 1px solid #07f;
background-color: #08f;
color: #fff;
}

.message .timestamp {
display: none;
}

#inputMsg {
  position: absolute;
  bottom: 0%;
  width: 100%;
}
#msgText {
  float: left;
  width: 60%;
  height: 5vh;
}
#msgSend {
  float: left;
  width: 20%;
  height: 5vh;
}

/*之後改成flexbox的形式*/
#userSidebar{
  top: 20px;
  position: absolute;
  max-width: 90px;
}

</style>
