<div class="ui sidebar right inverted vertical menu" id="searchSidebar">
  <div class="ui centered grid" style="padding-top:50px; margin:10px;">
    <form class="ui form">
        <div class="field">
            <label>Talent</label>
            <input type="text" name="talent" placeholder="Talent">
        </div>
        <div class="field">
            <label>Major</label>
            <input type="text" name="major" placeholder="Major">
        </div>
        <div class="ui button" id="searchSubmit">查詢</div>
    </form>
  </div>
</div>
