<div class="ui sidebar right inverted vertical menu" id="searchSidebar" style="color: white; width:260px">
  <div class="ui centered grid" style="padding-top:20px; margin:10px;">
    <h1>Search</h1>
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search All Name">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <div class="ui selection dropdown" style="margin-top: 20px;">
      <input type="hidden" name="type">
      <i class="dropdown icon"></i>
      <div class="default text">Advance: Search Type</div>
      <div class="menu">
        <div class="item" data-value="searchPeople">People</div>
        <div class="item" data-value="searchGroup">Group</div>
        <div class="item" data-value="searchProject">Project</div>
        <div class="item" data-value="searchActivity">activity</div>
      </div>
    </div>
    <form class="ui form" id="searchPeople" style="display: none; margin-top: 10px">
      <div class="field">
          <p>Skill</p>
          <input type="text" name="skill" placeholder="Skill">
      </div>
      <div class="field">
          <p>Major</p>
          <input type="text" name="major" placeholder="Major">
      </div>
      <div class="ui button" id="searchSubmit">查詢</div>
    </form>
    <form class="ui form" id="searchGroup" style="display: none; margin-top: 10px">
      <h1>group</h1>
      <div class="ui selection dropdown" style="margin-top: 20px;">
        <input type="hidden" name="type">
        <i class="dropdown icon"></i>
        <div class="default text">type</div>
        <div class="menu">
          <div class="item" data-value="groups">All type</div>
          <div class="item" data-value="groups">文化生活</div>
          <div class="item" data-value="groups">智慧科技與數位內容</div>
          <div class="item" data-value="groups">創新與社會服務</div>
        </div>
      </div>
    </form>
    <form class="ui form" id="searchProject" style="display: none; margin-top: 10px" action="/projects">
      <h1>project</h1>
      <div class="ui selection dropdown" style="margin-top: 20px;">
        <input type="hidden" name="type">
        <i class="dropdown icon"></i>
        <div class="default text">type</div>
        <div class="menu">
          <div class="item" data-value="">All type</div>
          <div class="item" data-value="文化生活">文化生活</div>
          <div class="item" data-value="智慧科技與數位內容">智慧科技與數位內容</div>
          <div class="item" data-value="創新與社會服務">創新與社會服務</div>
        </div>
      </div>
      <div class="ui fluid multiple search selection dropdown" style="margin-top: 20px;">
        <input name="need" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Needs</div>
      </div>
      <button class="ui button" type="" style="margin-top: 10px;">summit</button>
    </form>
    <form class="ui form" id="searchActivity" style="display: none; margin-top: 10px">
      <h1>Activity</h1>
      <div class="ui selection dropdown" style="margin-top: 20px;">
        <input type="hidden" name="type">
        <i class="dropdown icon"></i>
        <div class="default text">type</div>
        <div class="menu">
          <div class="item" data-value="activities">All type</div>
          <div class="item" data-value="activities">Workshop</div>
          <div class="item" data-value="activities">Forum</div>
          <div class="item" data-value="activities">Exhibition</div>
          <div class="item" data-value="activities">Conference</div>
          <div class="item" data-value="activities">Competition</div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#searchSidebar > div > .ui.dropdown').dropdown({
      onChange: function(value, text, $selectedItem) {
        console.log(value);
        $('#searchSidebar > div > .ui.form').hide();
        $('#' + value).show();
      }
    });
    $('#searchSidebar > div > .form > .dropdown').dropdown({
      onChange: function(value, text, obj){
        if($('#searchSidebar > div > .ui.dropdown')[0].innerText == 'Project') return; // project會要進階搜尋
        if(text == 'All type') window.location.href="/" + value;
        else window.location.href="/" + value + "?type=" + text;
      }
    });
    $(".ui.dropdown.multiple").dropdown({
      apiSettings: {
        url: '/search/projectNeed?need={query}',
        onResponse: function(results){
          console.log(results);
          return {"success": true,results};
        }
      }
    })
  });

</script>
