<div class="ui sidebar right inverted vertical menu" id="loginbar">
  <div class="ui centered grid" style="padding-top:50px; margin:10px;">
      <% if(typeof me == "undefined" ){ %>
        <form class="ui form" id="loginForm">
          <div class="field">
            <div id="errormsg"></div>
          </div>
          <div class="field">
            <label>Email</label>
            <input type="text" name="userid" placeholder="Email">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <div class="ui button" id="loginSubmit">Login</div>
          <a class="ui button" href="/users/fblogin">FB Login</a>
        </form>
      <% }else{ %>
        <%= me.Name %>
      <% } %>
  </div>
</div>
<div class="ui sidebar right inverted vertical menu" id="searchbar">
    <form class="ui form">
        <div class="field">
            <label>First Name</label>
            <input type="text" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
            <label>Last Name</label>
            <input type="text" name="last-name" placeholder="Last Name">
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>I agree to the Terms and Conditions</label>
            </div>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <div class="ui form">
        <div class="field">
            <select>
            <option value="">Gender</option>
            <option value="1">Male</option>
            <option value="0">Female</option>
          </select>
        </div>
    </div>
</div>
