<% layout('./public/layout') %>
<script type="text/javascript">
   //  $("document").ready(function() {
   //      $.ajax({
   //          type: "POST",
   //          url: "/test",
   //          success: function(response) {
   //            console.log(response);
   //          }
   //      });
   //  });
</script>
<div id="app"></div>
<script src='/js/build.js'></script>